/*重置样式*/
body,h1,h2,h3,h4,h5,h6,ul,dl,ol,li,dt,dd,a,img,input,p{
	padding:0; margin:0;
}
body{
	font-size:12px;
	font-family: "微软雅黑";
}
ul,li{
	list-style:none;
}
img{
	display:block;
}
a{
	text-decoration: none;
	color:#000000; 
}
/****************header****************/
html,body{
	width:640px;
	margin:0 auto;
}
header{
	width:610px;
	height:86px;
	border-top:1px solid #636363;
	border-bottom:1px solid #000;
	background: #e4366b;
	padding:0 15px;
}
header img{
	float:left;
	margin-top:30px;
	margin-right:208px;
}
header p{
	font-size:40px;
	color:#fff;
	line-height: 86px;
	display:inline-block;
}
header input{
	float:right;
	width:108px;
	height:54px;
	border:1px solid #fff;
	border-radius:15px;
	background:-webkit-linear-gradient(#f55a84,#d81452);
	margin-top:15px;
	font-size:23px;
	color:#fff;
	cursor:pointer;
}
/**************cont***************/
#cont{
	width:640px;
	height:732px;
	background: #f7f7f7;
	border-top:1px solid #636363;
	overflow:hidden;
}
#cont .search{
	width:100%;
	height:86px;
	background: #52525a;
	border-bottom:1px solid #000000;
	position: relative;
}
#cont .search input{
	width:516px;
	height:56px;
	border:0;
	border-radius:50px;
	margin-top:16px;
	margin-left:25px;
	padding-left:74px;
	font-size:23px;
}
#cont .search span{
	display:block;
	width:34px;
	height:38px;
	background: url(../img/search.gif);
	position:absolute;
	left:55px;
	top:24px;
}
#cont p{
	width:618px;
	height:86px;
	padding-left:22px;
	line-height: 86px;
	font-size:38px;
	border-bottom:1px solid #484850;
}








/**************footer**************/
footer{
	width:100%;
	height:98px;
	background: #484850;
	border-top:1px solid #484850;
}
footer ul{
	width:100%;
	height:100%;
	display:-webkit-box;
	-webkit-box-orient:horizontal;
}
footer li{
	-webkit-box-flex: 1;
	color:#fff;
	text-align: center;
	padding-top:66px;
	font-size:24px;
}
footer li:hover{
	border-top:3px solid #D81452;
}
footer li:nth-child(1){
	background: url(../img/1.gif) no-repeat;
	background-position: 35px 7px;
	border-top:3px solid #D81452;
}
footer li:nth-child(2){
	background: url(../img/2.gif) no-repeat;
	background-position: 35px 18px;
}
footer li:nth-child(3){
	background: url(../img/3.gif) no-repeat;
	background-position: 40px 15px;
}
footer li:nth-child(4){
	background: url(../img/4.gif) no-repeat;
	background-position: 45px 15px;
}
footer li:nth-child(5){
	background: url(../img/5.gif) no-repeat;
	background-position: 31px 32px;
}
